
* {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
    float: none !important;
}

h2 {
    margin: .5em;
    margin-left: 2em;
}

input {
    font-family: monospace !important;
}

pre {
    padding: 1em;
    margin-left: 3em;
}
code {
    margin: 2em;
}

.fetch-wrapper {
    border: 2px dashed blue;
    padding: 1em;
}

.demo-page {
    display: flex;
    flex-wrap: wrap;
    align-items:  flex-start;
}

.mydemo-wrapper {
}

.react-demo {
    background-size: none !important;
    background-image: none !important;
}

.react-demo__controls {
    overflow: auto !important;
}

.react-demo__controls-wrap {
    display: inline-block !important;
    width: auto !important;
    max-width: 30em;
}

.react-demo__target-wrap {
    display: inline-block !important;
    font-family: monospace !important;
    margin-left: auto !important;
    vertical-align: top;

}

.react-demo__control-wrap {
    font-family: monospace !important;
}

.react-demo__control-group{
    color: #222 !important;
    font-family: monospace !important;
}

.react-demo__control-group-label{
    color: #222 !important;
    font-family: monospace !important;
}

.react-demo__render-code {
    color: #222 !important;
    font-size: smaller !important;
    font-family: monospace !important;
}
